<!DOCTYPE html>
<html lang="en">
    <script src="https://code.angularjs.org/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="mainPage.css">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>NASA Images</title>
    </head>
    <body>
        <!--This is the first page-->
        <div class= "container-fluid wrapper">
            <div align="center">
                
                <!-- Displays the NASA banner-->
                <div class="jumbotron header">
                    <h1></h1>
                </div>
                
                <!-- The content displayed-->
                <div class="header-content">
                    <div class="inner">
                        <h1 class="cursive">NASA Image Gallery</h1>
                        <h4 class="description">Welcome to NASA's Image Gallery</h4>
                        
                        <!-- "Towards Gallery button"-->
                        <a href="images" class="btn btn-primary btn-xl">Towards Gallery</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>